{{> admin/head}}

<body class="animsition">
    <div class="page-wrapper">


        {{> admin/sidebar}}

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {{> admin/navbar}}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                {{#each counts}}
                                                <h2>{{count}}</h2>
                                                {{/each}}
                                                <span>Number of Users</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            {{!-- <canvas id="widgetChart1"></canvas> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-accounts"></i>
                                            </div>
                                            <div class="text">
                                                {{#each students}}
                                                <h2>{{count}}</h2>
                                                {{/each}}
                                                <span>No. of Enrolled Students</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            {{!-- <canvas id="widgetChart2"></canvas> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-long-arrow-up"></i>
                                            </div>
                                            <div class="text">
                                                {{#each pass}}
                                                <h2>{{count}}</h2>
                                                {{/each}}
                                                <span>Passed</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            {{!-- <canvas id="widgetChart3"></canvas> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-long-arrow-down"></i>
                                            </div>
                                            <div class="text">
                                                {{#each drop}}
                                                <h2>{{count}}</h2>
                                                {{/each}}
                                                <span>Dropped</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            {{!-- <canvas id="widgetChart4"></canvas> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">recent reports</h3>
                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                                <div class="chart-note">
                                                    <span class="dot dot--blue"></span>
                                                    <span>products</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--green"></span>
                                                    <span>services</span>
                                                </div>
                                            </div>
                                            <div class="chart-info__right">
                                                <div class="chart-statis">
                                                    <span class="index incre">
                                                        <i class="zmdi zmdi-long-arrow-up"></i>25%</span>
                                                    <span class="label">products</span>
                                                </div>
                                                <div class="chart-statis mr-0">
                                                    <span class="index decre">
                                                        <i class="zmdi zmdi-long-arrow-down"></i>10%</span>
                                                    <span class="label">services</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-report__chart">
                                            <canvas id="recent-rep-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">char by %</h3>
                                        <div class="row no-gutters">
                                            <div class="col-xl-6">
                                                <div class="chart-note-wrap">
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--blue"></span>
                                                        <span>products</span>
                                                    </div>
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--red"></span>
                                                        <span>services</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="percent-chart">
                                                    <canvas id="percent-chart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">Forcasted Data of enrolled students of TESDA</h3>
                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="recent-report__chart">
                                        <canvas id="sales-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <h2 class="title-1 m-b-25">Top Enrolled Courses</h2>
                            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                <div class="au-card-inner">
                                    <div class="table-responsive">
                                        <table class="table table-top-countries">
                                            <tbody>
                                                <tr>
                                                    <td>United States</td>
                                                    <td class="text-right">$119,366.96</td>
                                                </tr>
                                                <tr>
                                                    <td>Australia</td>
                                                    <td class="text-right">$70,261.65</td>
                                                </tr>
                                                <tr>
                                                    <td>United Kingdom</td>
                                                    <td class="text-right">$46,399.22</td>
                                                </tr>
                                                <tr>
                                                    <td>Turkey</td>
                                                    <td class="text-right">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Germany</td>
                                                    <td class="text-right">$20,366.96</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="title-1 m-b-25">Top Performing Schools</h2>
                            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                <div class="au-card-inner">
                                    <div class="table-responsive">
                                        <table class="table table-top-countries">
                                            <tbody>
                                                <tr>
                                                    <td>United States</td>
                                                    <td class="text-right">$119,366.96</td>
                                                </tr>
                                                <tr>
                                                    <td>Australia</td>
                                                    <td class="text-right">$70,261.65</td>
                                                </tr>
                                                <tr>
                                                    <td>United Kingdom</td>
                                                    <td class="text-right">$46,399.22</td>
                                                </tr>
                                                <tr>
                                                    <td>Turkey</td>
                                                    <td class="text-right">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Germany</td>
                                                    <td class="text-right">$20,366.96</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="title-1 m-b-25">Highest No. of Students </h2>
                            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                <div class="au-card-inner">
                                    <div class="table-responsive">
                                        <table class="table table-top-countries">
                                            <tbody>
                                                <tr>
                                                    <td>United States</td>
                                                    <td class="text-right">$119,366.96</td>
                                                </tr>
                                                <tr>
                                                    <td>Australia</td>
                                                    <td class="text-right">$70,261.65</td>
                                                </tr>
                                                <tr>
                                                    <td>United Kingdom</td>
                                                    <td class="text-right">$46,399.22</td>
                                                </tr>
                                                <tr>
                                                    <td>Turkey</td>
                                                    <td class="text-right">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Germany</td>
                                                    <td class="text-right">$20,366.96</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="title-1 m-b-25">Top Performing NC</h2>
                            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                <div class="au-card-inner">
                                    <div class="table-responsive">
                                        <table class="table table-top-countries">
                                            <tbody>
                                                <tr>
                                                    <td>United States</td>
                                                    <td class="text-right">$119,366.96</td>
                                                </tr>
                                                <tr>
                                                    <td>Australia</td>
                                                    <td class="text-right">$70,261.65</td>
                                                </tr>
                                                <tr>
                                                    <td>United Kingdom</td>
                                                    <td class="text-right">$46,399.22</td>
                                                </tr>
                                                <tr>
                                                    <td>Turkey</td>
                                                    <td class="text-right">$35,364.90</td>
                                                </tr>
                                                <tr>
                                                    <td>Germany</td>
                                                    <td class="text-right">$20,366.96</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
                                        href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

    </div>

    {{> admin/footer}}